:root {
    --color-background-theme-dark: rgb(34, 40, 49);
    --color-background-theme-light: rgb(221, 221, 221);
    --color-text-red: rgb(240, 84, 84);
    --color-text-blue: rgb(48, 71, 94);
    --color-text-light-gray: rgb(221, 221, 221);
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 1220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 5rem;
    background-color: var(--color-background-theme-dark);
    color: var(--color-text-red);
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo-container > p {
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

main {
    background-color: var(--color-background-theme-light);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding: 2rem;
}

#get-weather-data {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
}

#get-weather-data > div {
    margin: 1rem;
    display: flex;
    gap: 2rem;    
}

input {
    height: 1.5rem;    
    width: 10rem;
    border-radius: 0.4rem;
    border: none;
}

button {
    height: 1.5rem;
    width: 7rem;
    font-weight: 500;
}

/* Toggle temperature styling */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color-text-red);
}

input:focus + .slider, input:hover, span:hover, button:focus, button:hover {
    box-shadow: 0 0 3px var(--color-text-red);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 40px;
}

.slider.round:before {
    border-radius: 50%;
}

.display-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

#display-wrapper {
    width: 400px;
    margin: 0 auto;
}

#current-location, #current-temperature, #toggle-temperature {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 500;    
}

#display-subheader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

/* Styling for loading spinner */
.loader {
    border: 16px solid var(--color-background-theme-dark);
    border-top: 16px solid var(--color-text-red);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Error Display */
#display-error {
    margin: 0 auto;
}

/* Footer */
footer {
    height: 4rem;
    background-color: var(--color-background-theme-dark);
    margin-top: auto;
    color: var(--color-text-red);
    text-align: center;
}
footer > p {
    margin: 0.5rem;
}